/ichurris/build
/ichurris/build/Debug-iphonesimulator/ichurris.app.dSYM/Contents/Resources/DWARF/ichurris
/ichurris/build/Debug-iphonesimulator/ichurris.app/ichurris
/ichurris/build/ichurris.build/Debug-iphonesimulator/ichurris.build/build-state.dat
/ichurris/build/ichurris.build/Debug-iphonesimulator/ichurris.build/ichurris-project-headers.hmap
/ichurris/build/ichurris.build/Debug-iphonesimulator/ichurris.build/ichurris.dep
/ichurris/build/ichurris.build/Debug-iphonesimulator/ichurris.build/ichurris.hmap
/ichurris/build/ichurris.build/Debug-iphonesimulator/ichurris.build/Objects-normal/i386/ichurris.LinkFileList
/ichurris/build/ichurris.build/Debug-iphonesimulator/ichurris.build/Objects-normal/i386/MyCLController.o
/ichurris/build/ichurris.build/Debug-iphonesimulator/ichurris.build/Objects-normal/i386/MySalaryViewController.o
/ichurris/build/ichurris.build/Debug-iphonesimulator/ichurris.build/Objects-normal/i386/MySexSelectorViewController.o
/ichurris/build/ichurris.build/Debug-iphonesimulator/ichurris.build/Objects-normal/i386/Town.o
/ichurris/build/ichurris.build/ichurris.pbxindex/categories.pbxbtree
/ichurris/build/ichurris.build/ichurris.pbxindex/cdecls.pbxbtree
/ichurris/build/ichurris.build/ichurris.pbxindex/decls.pbxbtree
/ichurris/build/ichurris.build/ichurris.pbxindex/files.pbxbtree
/ichurris/build/ichurris.build/ichurris.pbxindex/imports.pbxbtree
/ichurris/build/ichurris.build/ichurris.pbxindex/pbxindex.header
/ichurris/build/ichurris.build/ichurris.pbxindex/protocols.pbxbtree
/ichurris/build/ichurris.build/ichurris.pbxindex/refs.pbxbtree
/ichurris/build/ichurris.build/ichurris.pbxindex/strings.pbxstrings/control
/ichurris/build/ichurris.build/ichurris.pbxindex/strings.pbxstrings/strings
/ichurris/build/ichurris.build/ichurris.pbxindex/subclasses.pbxbtree
/ichurris/build/ichurris.build/ichurris.pbxindex/symbols0.pbxsymbols