/ichurris/build/Debug-iphonesimulator/ichurris.app.dSYM/Contents/Resources/DWARF/ichurris
/ichurris/build/Debug-iphonesimulator/ichurris.app/AgeSelectorViewController.nib
/ichurris/build/Debug-iphonesimulator/ichurris.app/ichurris
/ichurris/build/Debug-iphonesimulator/ichurris.app/MainWindow.nib
/ichurris/build/Debug-iphonesimulator/ichurris.app/MyAgeSelectorViewController.nib
/ichurris/build/Debug-iphonesimulator/ichurris.app/MySalaryViewController.nib
/ichurris/build/Debug-iphonesimulator/ichurris.app/MySexSelectorViewController.nib
/ichurris/build/Debug-iphonesimulator/ichurris.app/NationalitySelectorViewController.nib
/ichurris/build/Debug-iphonesimulator/ichurris.app/ResultsViewController.nib
/ichurris/build/Debug-iphonesimulator/ichurris.app/SexSelectorViewController.nib
/ichurris/build/Debug-iphonesimulator/ichurris.app/TownCell.nib
/ichurris/build/Debug-iphonesimulator/ichurris.app/TownViewController.nib
/ichurris/build/ichurris.build/Debug-iphonesimulator/ichurris.build/build-state.dat
/ichurris/build/ichurris.build/Debug-iphonesimulator/ichurris.build/build-state~.dat
/ichurris/build/ichurris.build/Debug-iphonesimulator/ichurris.build/ichurris.dep
/ichurris/build/ichurris.build/Debug-iphonesimulator/ichurris.build/ichurris~.dep
/ichurris/build/ichurris.build/Debug-iphonesimulator/ichurris.build/Objects-normal/i386/MVYImageView.o
/ichurris/build/ichurris.build/Debug-iphonesimulator/ichurris.build/Objects-normal/i386/UIImageExtras.o
/ichurris/build/ichurris.build/ichurris.pbxindex/pbxindex.header
/ichurris/build/ichurris.build/ichurris.pbxindex/strings.pbxstrings/control
/ichurris/build/ichurris.build/ichurris.pbxindex/symbols0.pbxsymbols
/ichurris/ichurris.xcodeproj/ahernandez.pbxuser
/ichurris/ichurris.xcodeproj/ahernandez.perspectivev3